@model IEnumerable<ASP_CRUD_CORE.Models.Employee>
@{
    ViewData["Title"] = "Index";
}
<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NAME)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CITY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AGE)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NAME)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CITY)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AGE)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
    <p>
        <a asp-action="Create">Add new record</a>
    </p>
</table>